body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    font-weight: 300;
}

p{
    font-weight: 200;
}

.auth-btn{
    width: 32%;
    transition: 0.25s all ease;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    white-space: nowrap;
    font-size: 15px;
    padding: 7px 14px;

    transition: 0.1s all ease;
}


.auth-btn:active{
    transform: translateY(5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.18);
}

.for-btn{
    white-space: nowrap;
    width:75%
}

img{
    width:100%;
}

span{
    font-size: 14px;
}

.btn-dropdown{
    height:75%;
}

@media (max-width: 992px) {
    .auth-btn {
        width:30%;
        padding: 6px 12px;
        font-size: 13px;
    }

    h4{
        font-weight: 550;
    }

    p{
        font-weight: 100;
    }

    .for-btn{
        width:90px;
    }

}

@media (max-width:768px){
    .btn-dropdown{
        height:100%;
        margin-left: 8%;
    }
}
  
@media (max-width: 576px) {
  .auth-btn {
    width:28%;
    padding: 5px 10px;
    font-size: 12px;
  }

}

.title-bar{
    animation: titleAnimation 5s linear infinite;
}

@keyframes titleAnimation {
    0%,100%{
        background: #BFD0E0;
    }

    50%{
        background: #C0C5CA;
    }
}


